body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.container {
  margin: auto;
  background: white;
  padding: 20px;
}

.url-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #dddfe2;
  display: block;
}

.view-button {
    border-radius: 3px;
    background: #005b53;
    color: #fff!important;
    text-decoration: none!important;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 0;
}

.view-button:hover {
  background-color: #000;
}

.source-code {
  text-align: center;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
}
